@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fcfcfc;
}
header {
  height: 100vh;
}
.flex-box {
  display: flex;
  padding: 10px 60px;
  align-items: center;
  justify-content: space-between;

  .full {
    gap: 50px;
    display: flex;
    align-items: center;

    .text {
      color: #5d6c7b;
      font-size: 14px;
      font-family: "Jost", serif;
      text-decoration: none;
    }
    .loop {
      gap: 16px;
      display: flex;
      margin-top: 3px;
      align-items: center;
    }
  }
  .nomer {
    gap: 10px;
    display: flex;
    align-items: center;
  }
  .telfon {
    color: #282739;
    font-size: 14px;
    font-weight: 500;
    font-family: "Jost", serif;
    text-decoration: none;
  }
}
.flex-wrap {
  gap: 20px;
  display: flex;
  padding: 20px 70px;
  align-items: center;
  justify-content: space-between;
  .from {
    gap: 15px;
    display: flex;
    align-items: center;
    .text-1 {
      color: rgb(128, 0, 255);
      font-size: 30px;
      font-weight: 700;
      font-family: "Jost", serif;
    }
    .doira {
      height: 40px;
      border-radius: 50%;
    }
  }
  .input-border {
    height: 41px;
    width: 550px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    border: solid 3px rgb(128, 0, 255);
  }
  .sarch-1 {
    width: 100%;
    height: 37px;
    outline: none;
    font-size: 16px;
    padding: 0px 15px;
    border-radius: 6px 0px 0px 6px;
    border: solid 1px #fff;
    font-family: "Jost", serif;
  }
  .btn-2 {
    height: 38px;
    width: 100px;
    outline: none;
    background: rgb(128, 0, 255);
    border: solid 2.5px rgb(128, 0, 255);
  }
  .sss {
    font-size: 20px;
  }
  .btn-3 {
    gap: 10px;
    height: 42px;
    width: 140px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    justify-content: center;
    font-family: "Jost", serif;
    background: rgb(128, 0, 255);
    border: solid 2.5px rgb(128, 0, 255);
  }
  .input-item {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .fell {
    gap: 26px;
    display: flex;
    align-items: center;
  }
  .btn-icon {
    gap: 10px;
    display: flex;
    font-size: 16px;
    color: #282739;
    align-items: center;
    text-decoration: none;
    font-family: "Jost", serif;
  }
  .ion-icon {
    font-size: 22px;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  gap: 45px;
  display: flex;
  list-style: none;
  align-items: center;
}
a {
  gap: 5px;
  color: #5d6c7b;
  font-size: 16px;
  display: flex;
  transition: 0.5s;
  align-items: center;
  text-decoration: none;
  font-family: "Jost", serif;
}
.as {
  height: 30px;
  border-radius: 10px;
}
a:hover {
  color: #19191a;
}

swiper-container {
  width: 79rem;
  height: 405px;
  margin-top: 30px;
  border-radius: 10px;
  border: solid 1px none;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
   background: linear-gradient(to bottom, #410a74, #912ff3);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-flex {
  gap: 1rem;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;

  .button-1 {
    gap: 15px;
    height: 60px;
    width: 289px;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    background: #f4f7fb;
    border-radius: 15px;
    transition: 0.5s;
    justify-content: center;
    border: solid 1px #f4f7fb;
    font-family: "Jost", serif;
  }
  .button-1:hover {
    background: #d1d7de;
  }
  .sa {
    height: 40px;
    border-radius: 10px;
  }
  .SERT {
    height: 320px;
    width: 300px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-4 {
  width: 500px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 35px;
  text-align: left;
  line-height: 45px;
  padding: 10px 0px;
  font-family: "Jost", serif;
}
.text-5 {
  font-size: 100px;
  font-weight: bold;
  color: rgb(254, 254, 7);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text-7 {
  height: 45px;
  width: 100px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  border-radius: 15px;
  border: solid 1px #fff;
  font-family: "Jost", serif;
}
.soup {
  gap: 10px;
  display: flex;
}
.btn-9 {
  padding: 12px 50px;
  background: #fff;
  border-radius: 15px;
  font-size: 25px;
  color: #000;
  font-weight: 800;
  font-family: "Jost", serif;
  text-decoration: line-through;
}
.btn-8 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Jost", serif;
  padding: 12px 40px;
  background: #ff0062;
  border-radius: 15px;
}
.fero {
  gap: 15px;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.text-9 {
  color: #282739;
  font-size: 37px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.noor {
  height: 50px;
  width: 160px;
  display: flex;
  font-family: "Jost", serif;
  background: #f4f7fb;
  border-radius: 10px;
  transition: 0.5s;
  justify-content: center;
}
.coll {
  gap: 30px;
  display: flex;
  align-items: center;
}
.noor:hover {
  color: #000000;
  background: #e4e6e9;
}
.roots {
  display: flex;
  padding: 20px 70px;
  align-items: center;
  justify-content: space-between;
}
.box-itemis {
  height: 492px;
  width: 261px;
  padding: 0px 5px;
  border-radius: 5px;
  transition: 0.5s;
}
.box-itemis:hover {
  background: #fff;
}
.img-3 {
  width: 253px;
  height: 310px;
}
.horta {
  font-size: 25px;
  margin-left: 13.3rem;
  color: #000000;
  transform: translateY(-18.7rem);
}
.img-conta {
  width: 253px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.img-conta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}

.img-conta:hover img {
  transform: scale(1.1);
}

.img-conta::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-conta:hover::after {
  opacity: 1;
}

.conteiner-2 {
  gap: 14px;
  display: flex;
  padding: 30px 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fromse {
  display: none;
  transition: 0.9s;
}
.vol {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 2px #dbdbdb;
}
.koli {
  width: 100%;
  height: 100%;
}
.door {
  font-size: 23px;
}

.text-p {
  width: 200px;
  font-size: 16px;
  color: #2c2b2b;
  margin-top: -10px;
  font-family: "Jost", serif;
}
.tex {
  font-size: 14px;
  color: #2c2b2b;
  margin-top: 5px;
  font-family: "Jost", serif;
}
.saq {
  color: rgb(255, 213, 0);
}
.text-s {
  width: 130px;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  font-family: "Jost", serif;
  background: rgb(255, 234, 0);
}
.roms {
  font-size: 14px;
  text-decoration: line-through;
  font-family: "Jost", serif;
}
.gol {
  font-size: 14px;
  font-family: "Jost", serif;
}
.constt {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
}
.tonna {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
#btn-12 {
  color: #1e1e1e;
  height: 60px;
  width: 750px;
  font-size: 18px;
  background: #eceeee;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
  border: solid 2px #eceeee;
  font-family: "Jost", serif;
}
#btn-12:hover {
  background: #e0e2e2;
  border: solid 2px #e0e2e2;
}

.img-15 {
  width: 80rem;
}

.img-contas {
  width: 85rem;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.img-contas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.img-contas:hover img {
  transform: scale(1.1);
}

.img-contas::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.Otvorish {
  margin-top: 40px;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(128, 0, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
#scrollToTopBtn:hover {
  background-color: rgb(128, 0, 255);
}
.kk {
  margin-top: 13px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #c3c3c3;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ffff {
  transition: 0.2s;
}

.ffff:hover {
  color: red;
}
footer {
  height: 370px;
}
.big-footer {
  gap: 10rem;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}

.biz {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost", serif;
}
.title-l {
  line-height: 30px;
  margin-top: 10px;
  font-family: "Jost", serif;
}

.storer {
  height: 25px;
}
.hrods {
  padding: 40px 80px;
}

.title-ls {
  gap: 5px;
  color: #000000;
  padding: 13px 30px;
  background: #eceeee;
  border-radius: 10px;
}
.dero {
  gap: 10px;
  display: flex;
  margin-top: 20px;
}
.oo {
  height: 40px;
}
.tarmoq {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.title-la {
  font-size: 18px;
  color: #19191a;
  margin-top: 30px;
}

.qa {
  height: 2px;
  width: 100%;
  background: #c3c3c3;
}

.derx {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.forq {
  font-size: 17px;
  font-family: "Jost", serif;
}
.aaaa {
  font-size: 12px;
}

// karzinkani style
.headvey {
  .likes {
    color: #393939;
    font-size: 30px;
    font-weight: 500;
    margin-left: 6rem;
    margin-top: 3rem;
    font-family: "Jost", serif;
  }
}

.text-as {
  width: 200px;
  font-size: 16px;
  color: #2c2b2b;
  margin-top: -10px;
  font-family: "Jost", serif;
}

// likes style

.pools {
  display: flex;
  width: 83rem;
  margin-top: 10px;
  margin-left: 6rem;
  align-items: center;
  justify-content: center;
}
.eeee {
  height: 1px;
  width: 100%;
  background: #646464;
}

// hamma rasmlar

.words-infor {
  width: 250px;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
  margin-left: 5rem;
}
.section-8{
  gap: 1rem;
   display: flex;
   padding: 40px 0px;
   align-items: baseline;
    justify-content: baseline;
}


.text-jq{
  color: #464646;
  font-size: 23px;
  margin: 20px;
  font-weight: 600;
  font-family: "Jost", serif;
}

.sahifaga{
  width: 180px;
  height: 40px;
  font-size: 18px;
  margin-left: 25px;
  padding: 5px 0px;
  display: flex;
  border-radius: 5px;
  padding: 0px 10px;
  align-items: center;
  font-family: "Jost", serif;
}
.qqqq{
  color: #000;
  font-size: 18px;
  margin-left: 25px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  line-height: 40px;
  font-family: "Jost", serif;
}
.vvv{
   height: 25px;
   width: 25px;
   background:peru;
   border-radius: 50%;
}
.vv{
   height: 25px;
   width: 25px;
   background:rgb(247, 0, 62);
   border-radius: 50%;
}
.v{
   height: 25px;
   width: 25px;
   background:rgb(49, 247, 0);
   border-radius: 50%;
}
.vs{
   height: 25px;
   width: 25px;
   background:rgb(116, 126, 114);
   border-radius: 50%;
}
.vvs{
   height: 25px;
   width: 25px;
   background:rgb(1, 35, 255);
   border-radius: 50%;
}
.vvvs{
   height: 25px;
   width: 25px;
   background:rgb(255, 1, 225);
   border-radius: 50%;
}
.flexso{
  gap: 5px;
  display: flex;
  align-items: center;
}

.scroll-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.text-y{
  font-size: 25px;
  font-weight: 500;
  margin-left: 6rem;
  font-family: "Jost", serif;
}
.rootq{
  margin-left: 4rem;
}
.conatiner-btn{
  gap: 10px;
  padding: 20px 0px;
  margin-left: 6rem;
  display: flex;
  align-items: center;
}

.killo{
  padding: 0px 7px;
  color: #000000;
    height: 40px;
    font-size: 14px;
    transition: 0.4s;
    background: #f0f0f9;
    border-radius: 10px;
    border: solid 1px #f0f0f9;
    font-family: "Jost", serif;
}
.killo:hover{
    background: #e1e1e5;
}


.lock-screen{
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: #fff;
}


.dsdsd{
  display: none;
  font-size: 23px;
  font-weight: 800;
  transition: 0.5s;
}

.yulduz{
  display: none;
  transition: 0.5s;
}

.samo{
  display: block;
}


.relas{
  height: 100vh;
  width: 400px;
  padding: 10px;
}

.wast{
  gap: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.strongs{
  gap: 10px;
   padding: 10px 30px;
   font-size: 20px;
   color: #000;
   display: flex;
   align-items: center;
   font-family: "Jost", serif;
}
.strongs:hover{
  background: #e6e6e6;
  border-radius: 5px;
}
.icon-32{
  height: 26px;
}
.smart-app{
  gap: 30px;
  display: flex;
}
.norma{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    font-family: "Jost", serif;
}
.like-op{
  width: 200px;
  font-size: 16px;
  line-height: 34px;
  margin-top: 10px;
  font-family: "Jost", serif;
}






